
.inputField {
    position:relative;

    display: flex;
    flex-direction: column;
    padding: 0.2rem 0;
}


.inputField svg{
    cursor: pointer;
    position: absolute;

    /* line-height = 1.5 rem, so 0.5/2 = 0.25 */
    right:0.5rem;
    bottom:0.75rem;
}

.inputField input{
    border: solid 0 transparent;
    border-radius: 5px;

    padding:0.25rem 0 0.25rem 0.25rem;

}

.inputField.small{
    width: 100px;
}

.inputField.medium{
    width: 200px;
}

.inputField.large{
    width: 400px;
}