button {
    cursor: pointer;
}

button:hover {
    color: var(--highlight);
}

.button-primary {
    border: none 0 transparent;
    border-radius: 20px;

    background-color: var(--primary);
    color: var(--focused);
}

.button-secondary {
    border: none 0 transparent;
    border-radius: 20px;
    background-color: var(--secondary);
    color: var(--panel-background);
}


.buttonSizeMedium {
    flex-basis: 200px;
    width: 200px;
}

.buttonSizeSmall {
    flex-basis: 100px;
    font-size: 1rem;
}