
.notifications-container {
    border-right: 2px solid var(--divider);
    padding: 2rem 1rem 0;
    overflow: scroll;
    height: 100vh;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
}