.notification-container{
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tiptap-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0 4rem;
}