/* Menu */
.bubble-menu {
    background-color: var(--panel-background);
    border: 1px solid var(--divider);
    border-radius: 0.7rem;

    display: flex;
    padding: 0.2rem;
    flex-direction: row;
    column-gap: 0.5rem;
}

.is-active {
    color:var(--highlight);
}

/* Code and preformatted text styles */
code {
    background-color: mediumpurple;
    border-radius: 0.4rem;
    color: black;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
}

pre {
    background: black;
    border-radius: 0.5rem;
    color: white;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;


}

blockquote {
    border-left: 3px solid dimgray;
    margin: 1.5rem 0;
    padding-left: 1rem;
}

.ProseMirror-trailingBreak {
    width: 100%;
}

.tiptap.ProseMirror[contenteditable="true"] {
    color:var(--focused);
    background-color: var(--input-background);
    border: solid 0 transparent;
    border-radius: 5px;
}