.name-banner {
    padding: 5rem 0;

    font-size: 5rem;
    line-height: 0.7em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-banner :nth-child(1) {
    color: var(--primary);
}

.name-banner :nth-child(2) {

}

.name-banner :nth-child(3) {
    color: var(--secondary);
}