.page-not-found{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-not-found svg{
    width: 50vw;
    height: 50vh;
}