.tiptap-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

/* Code and preformatted text styles */
code {
    background-color: mediumpurple;
    border-radius: 0.4rem;
    color: black;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
}

pre {
    background: black;
    border-radius: 0.5rem;
    color: white;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;


}

blockquote {
    border-left: 3px solid dimgray;
    margin: 1.5rem 0;
    padding-left: 1rem;
}

    /*hr {*/
    /*    border: none;*/
    /*    border-top: 1px solid dimgray;*/
    /*    margin: 2rem 0;*/
    /*}*/