.failed-loading-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-basis: 100%;
}

.failed-loading-content svg {
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
}